:root {
  --main-text: #333;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

ul,
ol {
  padding: 0;
  list-style: none;
}

input,
button,
textarea,
select {
  font: inherit;
  background: none;
  border: 0;
  outline: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #000;
  outline: none;
}

a:not {
  text-decoration-skip-ink: auto;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote {
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--main-text);
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  background-image: url(https://img.freepik.com/free-vector/futuristic-dark-wavy-wallpaper_23-2148400223.jpg?w=1380&t=st=1705353793~exp=1705354393~hmac=3a78e9f8f47e9209cb75f8898219cb016ec502a0df4298589ce23d86accd572a);
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: cover;
}


.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main {
  flex: 1 1 auto;
}